header {
    background-color: #ee9252;
    color: white;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    padding: auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: auto;
}

nav ul li a:hover {
    text-decoration: underline;
}