<div class="livros-container">
    <div class="glass-font"> Ebooks mais vendidos </div>
    <div class="hanken-grotesk"> Confira a seleção de títulos digitais mais vendidos </div> 
    <div class="livros-lista">
      <div class="livro" *ngFor="let livro of livros">
        <img [src]="livro.capaUrl" alt="{{ livro.titulo }}" class="capa-livro" />
        <p class="titulo-livro">
          <a [href]="'https://books.google.com.br/books?id=' + livro.id" target="_blank">{{ livro.titulo }}</a>
        </p>
      </div>
    </div>
    <button class="ver-mais" routerLink="/ebooks-vendidos">Confira o catálogo completo </button>
</div>