.livros-container {
    padding: 20px;
    border-radius: 20px;
    height: 350px;
    width: auto;
    margin-top: 60px;
}

.livros-lista {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 120px;
    margin-top: 60px;
}

.capa-livro {
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.titulo-livro {
    font-family: "Hanken Grotesk", sans-serif;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.titulo-livro a {
    text-decoration: none;
    color: inherit;
}

.titulo-livro a:hover {
    color: #ee9252;
}

.glass-font {
    font-family: "Glass Antiqua", cursive;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 6px;
    text-align: center;
    right: 20px;
}

.glass-font a {
    text-decoration: none;
    color: inherit;
}

.glass-font a:hover {
    color: #ee9252;
}

.ver-mais {
    background-color: #ee9252;
    border-radius: 20px;
    border-color: transparent;
    width: 25%;
    height: 40px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;

}

.ver-mais:hover {
    background-color: #95440b; 
}