.glass-font {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    letter-spacing: 6px;
  }

  .glass-font a {
    text-decoration: none;
    color: inherit;
}

.glass-font a:hover {
    color: #ee9252; 
}

.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: auto;
    font-weight: 400;
    font-style: normal;
    color: #777971;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    padding-top: 150px;
    text-align: center;
    line-height: 1.6;
}

.space{
    padding-top: 50px;
    }