.p {
  font-weight: 400;
}

.search-container {
  display: flex; /* Usando flexbox para centralizar */
  justify-content: center; /* Centraliza horizontalmente */
  width: 100%; /* Ajuste conforme necessário */
  margin-top: 20px; /* Espaçamento superior, se desejado */
}

.input-wrapper {
  position: relative; /* Permite que o ícone seja posicionado dentro do input */
  width: 500px; /* Largura total do campo de entrada */
}

.styled-input {
  width: 90%;
  height: 30px; /* Preenche o contêiner pai */
  padding: 10px 40px 10px 10px; /* Espaçamento interno */
  border: 2px solid #ccc; /* Cor e espessura da borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  transition: border-color 0.3s; /* Transição suave para a cor da borda */
}

.styled-input::placeholder {
  color: #aaa; /* Cor do texto do placeholder */
  font-style: italic; /* Estilo do texto do placeholder */
}

.styled-input:focus {
  border-color: #ee9252; /* Cor da borda ao focar */
  outline: none; /* Remove o contorno padrão */
}

.icon {
  position: absolute; /* Posiciona o ícone dentro do input */
  right: 3px; /* Ajuste a posição do ícone à direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para centralizar exatamente */
  pointer-events: none; /* Permite que cliques passem pelo ícone */
  font-size: 18px; /* Tamanho do ícone */
}

.results-container {
  margin-top: 60px; /* Espaço entre o input e os resultados */
  width: 1000px; /* Cor de fundo para os resultados */
  max-height: 400px; /* Altura máxima para a área de resultados */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura máxima */
}

.book-item {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    margin-bottom: 20px; /* Espaçamento entre os itens */
  }
  
  .book-cover {
    width: 150px; /* Largura da capa do livro */
    height: 250px; /* Altura automática para manter a proporção */
    margin-right: 20px; /* Espaçamento à direita da imagem */
  }
  
  .book-info {
    max-width: 800px; 
    text-align: left;
    top: 30px;
  }

  .book-info a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Faz com que a cor do link herde a cor do texto do pai */
}

.book-info a:hover {
    color: #ee9252; 
}

  .book-description {
    display: -webkit-box; /* Utiliza um modelo de caixa flexível */
    -webkit-box-orient: vertical; /* Define a orientação da caixa como vertical */
    -webkit-line-clamp: 3; /* Limita a 3 linhas */
    overflow: hidden; /* Oculta o texto que excede o limite */
    text-overflow: ellipsis;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: medium;
    color: #777971; /* Adiciona reticências (...) ao final do texto cortado */
  }

  .no-image {
    width: 150px; /* Largura do retângulo */
    height: 200px; 
    margin-right: 20px;/* Altura do retângulo */
    border: 1px solid #ccc; /* Borda do retângulo */
    display: flex; /* Usado para centralizar o texto */
    align-items: center; /* Alinha o texto verticalmente */
    justify-content: center; /* Alinha o texto horizontalmente */
    text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */
    background-color: #ee9252; /* Cor de fundo do retângulo */
}

.title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: large;
  font-weight: bold;
}

.subtitle {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: medium;
  color: #777971;
}