.p {
  font-weight: 400;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.input-wrapper {
  position: relative;
  width: 500px;
}

.styled-input {
  width: 90%;
  height: 30px;
  padding: 10px 40px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.styled-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.styled-input:focus {
  border-color: #ee9252;
  outline: none;
}

.icon {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
}

.results-container {
  margin-top: 60px;
  width: 1000px;
  max-height: 400px;
  overflow-y: auto;
}

.book-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .book-cover {
    width: 150px;
    height: 250px;
    margin-right: 20px;
  }
  
  .book-info {
    max-width: 800px; 
    text-align: left;
    top: 30px;
  }

  .book-info a {
    text-decoration: none;
    color: inherit;
}

.book-info a:hover {
    color: #ee9252; 
}

  .book-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: medium;
    color: #777971;
  }

  .no-image {
    width: 150px;
    height: 200px; 
    margin-right: 20px;/* Altura do retângulo */
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #ee9252;
}

.title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: large;
  font-weight: bold;
}

.subtitle {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: medium;
  color: #777971;
}