.results-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .livros-lista {
    display: flex;
    flex-direction: column;

  }
  
  .livro {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .capa-livro {
    width: auto;
    height: auto;
    margin-right: 20px;
  }
  
  .book-info {
    max-width: 800px;
    flex-grow: 1;
    text-align: left;
  }

  .book-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: medium;
    color: #777971;
  }

  
  .title {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    font-family: "Hanken Grotesk", sans-serif;
  }
  
  .title a {
    text-decoration: none;
    color: inherit;
}

.title a:hover {
    color: #ee9252; 
}

  .subtitle {
    font-family:"Hanken Grotesk", sans-serif;
    font-size: medium;
    color: #666;
  }
  