.livros-container {
    padding: 20px;
}

.livros-lista {
    display: flex;
    flex-direction: row; /* Coluna para uma lista vertical */
    gap: 20px; /* Espaçamento entre os livros */
}

.livro {
    display: flex;
    flex-direction: column ;
    align-items: center; /* Centraliza os itens */
    text-align: center; /* Centraliza o texto */
    max-width: 120px; /* Limita a largura do livro */
}

.capa-livro {
    width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Arredonda os cantos da imagem */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.titulo-livro {
    margin-top: 10px; /* Espaço entre a imagem e o título */
    font-size: 14px; /* Tamanho da fonte do título */
    font-weight: bold; /* Título em negrito */
}